@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px;
}

img {
  width: 100%;
}

.navbar {
  background-color: #047aed;
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.md {
  font-size: 2.5rem;
}

.text-center {
  text-align: center;
}
/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
}

.stats .grid h3 {
  font-size: 35px;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}

/* Margin */

.my-2 {
  margin: 1rem 0;
}

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 20px 10px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.languages .card:hover {
  transform: translateY(-20px);
}


/*Background and colored buttons*/
.bg-primary,
.btn-primary {
  background-color: #047aed;
  color: white;
}
.bt-dark {
  background-color: #f4f4f4;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: #002240;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.btn-outline {
  background-color: transparent;
  border: 1px #fff solid;
}
.btn:hover {
  transform: scale(0.98);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/*text sized*/

.lead {
  font-size: 20px;
}


.lg {
  font-size: 3rem;
}

.my-1 {
  margin: 1rem 0;
}



.py-2 {
  padding: 2rem 0;
}
/* Cloud*/
.cloud .grid {
    grid-template-columns: 4fr 3fr;
  }



/*Cli*/
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}
.cli .grid >*:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

}
.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
